* {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightslategrey;
}
#container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  box-shadow: 5px 0px 10px 2px;
  /* display: grid;
    height: 40vh;
    justify-content: center;
    align-content: center;
    border: none; */
}
#input,
#btn,
#clear {
  font-size: 20px;
  padding: 10px;
  margin: 7px;
  border: none;
  border-radius: 5px;
}
#btn,
#clear {
  cursor: pointer;
}
#list {
  list-style: none;
  padding: 5px;
  margin: 5px;
}
li {
  font-size: 16px;
  font-family: system-ui;
  font-variant: small-caps;
  border-bottom: 0.5px solid;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 15px;
  transition: color 0.5s;
}
#delete {
  float: right;
  cursor: pointer;
}
#delete:hover {
  color: red;
}
#head {
  text-align: center;
  font-size: 35px;
  font-variant: small-caps;
  padding: 5px;
  background-color: lightgray;
  margin-bottom: 20px;
  border-radius: 3px;
}
